################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Builds
/Library
/Logs
/obj
/Packages
*.csproj
*.sln
/.vs
/Temp
